<h1><%= @user.name %></h1>

<h3>Created Events</h3>

<% @created_events.each do |event| %>
  <p><%= link_to event.description, event %></p>
<% end %>



<hr>
<h1>Attendance</h1>

<h3>Upcoming</h3>
<% @upcoming_events.each do |attend| %>
  <p><%= attend.date %>: <%= link_to attend.description, attend %></p>
<% end %>

<h3>Previous</h3>
<% @prev_events.each do |attend| %>
  <p><%= attend.date %>: <%= attend.description %></p>
<% end %>
