<h1><%= @event.description %></h1>
<h3>Creator: <%= @event.creator.name %></h3>

<hr>
<% if !@event.attendees.include?(current_user) %>
  <%= form_for(current_user.event_middles.build) do |f| %>
    <%= f.hidden_field :attended_event_id, :value => @event.id %>
    <%= f.submit "Attend Event" %>
  <% end %>
<% end %>

<hr>
<h1>Attendees</h1>
<% @attendees.each do |attendee| %>
  <p><%= attendee.name %></p>
<% end %>
